*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.nav-bar{
    height: 14vh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 34% 15%;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    top: 0%;
    background-color: white;
    z-index: 10;
    position: relative;
    }
    .logo-img{
        position: absolute;
        height: 45%;
        left: 75%;

    }
    .logo-img>img{
        height: 100%;
        width: 100%;
    }
    .lie>ol{
        position: absolute;
        left:25vw;
        top: 4vh;
        display: flex;
        list-style: none;
        font-size: 12px;
    }
    .lie>ol>li{
       height: 6vh;
       width: 6vw;
       display: flex;
       align-items: center;
       justify-content: center;
     }
    .lie>ol>li:hover{
        background-color:rgb(102, 16, 242);
        cursor: pointer;
        border-radius: 50px;
        color: white;
    }
    .aaa{
        border-radius: 50px;
        color: white;
        background-color: rgb(102, 16, 242);
        position: relative;
    }
    .home-dropdown{
        position: absolute;
        height: 34vh;
        width: 15vw;
        border: 3px solid rgb(255, 50, 113);
        top: 15vh;
        color: gray;
        left: 4%;
        background-color: white;
        visibility: hidden;
    }
    .home-dropdown>h6{
        border-bottom: 1px solid rgba(0, 0, 0, 0.342);
        padding-left: 1.5vw;
        padding-top: 2.68vh;
        font-size: 14px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.678);
    }
    .header{
        border-bottom: none !important;
    }
    .lie>ol>li:hover .home-dropdown{
      visibility: visible !important;
      cursor: pointer;
      transition-duration: 1.5s;
      top: 10vh;
    }
    .icon-one{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        left: 4vw;
        margin-left: -2vw;
    }
    .icon{
        height: 5vh;
        width: 2.3vw;
        border-radius: 50px;
        background-color: rgb(255, 50, 113);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-left: .5vw;
    }
    .icon:hover{
        transition-property: all;
        transition-duration: 1s;
        transform: rotate(360deg);
        cursor: pointer;
    }
    /* <!-- --------------first-section------------- --> */
    /* <!-- --------------second-section------------- --> */
    .second{
        height: 50vh;
        width: 100%;
        margin-top: 20vh;
        text-align: center;
    }
    .second>h4{
        color: gray;
        font-size: 24px;
        font-weight: normal;
        margin-top: 5vh;
    }
    .second>h1{
        color: rgba(0, 0, 0, 0.815);
        font-size: 75px;
        font-weight: 900;
    }
    .second>p{
        width: 55%;
        color: gray;
        margin-left: 22vw;
        font-size: 22px;
        margin-top: 2vh;
    }
    .second>button{
        height: 10vh;
        width: 18vw;
        border-radius: 30px;
        font-size: 20px;
        margin-top: 4vh;
        font-weight: 800;
        color: white;
        border: none;
        background-image: linear-gradient(to top,rgb(127, 7, 127),rgba(151, 11, 151, 0.76));
    }
    .second>button:hover{
        cursor: pointer;
        background-image: linear-gradient(to top,rgba(151, 11, 151, 0.808),rgb(127, 7, 127));

    }
    /* <!-- --------------second-section------------- --> */
    /* <!-- --------------third-section------------- --> */
        .third-main{
            height: 250vh;
            width: 100%;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 20% 20% 20% 20% 20%; 
            margin-top: 15vh;
        }
        .third-one{
            background-image: url(./images/one.jpg);
            background-size: 100% 100%;
            position: relative;
        }
        .third-one>h1{
            position: absolute;
            font-size: 18px;
            top: 82%;
            left: 20%;
            visibility: hidden;
            z-index: 7;
        }
        .third-one>h3{
            position: absolute;
            font-size: 20px;
            top: 90%;
            left: 28%;
            color: gray;
            font-weight: normal;
            visibility: hidden;
            z-index: 4;
        }
        .yellow{
            position: absolute;
            height: 5vh;
            width: 3vw;
            border-radius: 50px;
            background-color: yellow;
            top: 80%;
            left: 25%;
            visibility: hidden;
            z-index: 4;

        }
        .third-one::after{
            content:"";
            position: absolute;
            height: 90%;
            width: 90%;
            background-color: rgba(255, 255, 255, 0.658);
            margin: 5%;
            visibility: hidden;
        }
        .third-one:hover::after{
            transition-property: all;
            transform: rotateY(360deg);
            transition-duration: 1.5s;
            visibility: visible;
        }
        .third-one:hover h1{
            visibility: visible;
            transition-duration: 1.5s;
            top: 50%;
        } 
        .third-one:hover h3{
            visibility: visible;
            transition-duration: 1.5s;
            top: 58%;
        }
        .third-one:hover .yellow{
            visibility: visible;
            transition-duration: 1.5s;
            top: 47%;
        }
    /* <!-- --------------third-section------------- --> */
.third2{
    background-image: url(./images/two.jpg);
    background-size: 100% 100%;
   }
.third3{
    background-image: url(./images/three.jpg);
    background-size: 100% 100%;
   }
.third4{
    background-image: url(./images/four.jpg);
    background-size: 100% 100%;
   }
.third5{
    background-image: url(./images/five.jpg);
    background-size: 100% 100%;
   }
.third6{
    background-image: url(./images/six.jpg);
    background-size: 100% 100%;
   }
.third7{
    background-image: url(./images/seven.jpg);
    background-size: 100% 100%;
    grid-column: 3/5;
    grid-row: 2/4;
   }
.third8{
    background-image: url(./images/eight.jpg);
    background-size: 100% 100%;
   }
.third9{
    background-image: url(./images/nine.jpg);
    background-size: 100% 100%;
   }
.third10{
    background-image: url(./images/ten.jpg);
    background-size: 100% 100%;
   }
.third11{
    background-image: url(./images/eleven.jpg);
    background-size: 100% 100%;
   }
.third12{
    background-image: url(./images/twelve.jpg);
    background-size: 100% 100%;
    grid-row: 4/6;
    grid-column: 3/4;
   }
.third13{
    background-image: url(./images/thirteen.jpg);
    background-size: 100% 100%;
   }
.third14{
    background-image: url(./images/fourteen.jpg);
    background-size: 100% 100%;
    grid-column: 1/3;
    grid-row: 5/6;
   }
.third15{
    background-image: url(./images/fifteen.jpg);
    background-size: 100% 100%;
   }
   /* ------------------footer--------- */
.forth{
    height: 50vh;
    width: 100%;
    background-color:rgb(240, 248, 255) ;
    display: grid;
    justify-content: center;
    /* margin-top: 25vh; */
}
.imglast{
    height:10vh;
    width: 70%;
    margin-top: 10vh;
    margin-left: 3vw;
}
.imglast>img{
    height: 100%;
    width: 100%;
}
.para>p{
    margin-top: -12vh;
    font-size: 18px;
}
.lasticon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 42vw;
    margin-top: 35vh;
}
.icon{
    height: 5vh;
    width: 2.3vw;
    border-radius: 50px;
    background-color: rgb(255, 50, 113);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: .5vw;
}
.icon:hover{
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(360deg);
    cursor: pointer;
}
/* ------------------footer--------- */
























    /* <!-- --------------third-section------------- --> */
